/* React Paginate */

.reactPaginate {
  display: flex;
  justify-content: center;
}

.reactPaginate li {
  list-style: none;
  margin-left: 7px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #2748DC;  
  border-radius: 5px;  
  padding: 2px 5px;
}

.reactPaginate li a {
  text-decoration: none;
  color: #2748DC;
  padding: 5px 8px;
}

.selected,
.previous,
.next{
  background-color: #2748DC;
}

.selected a,
.previous a,
.next a{
  color: #fff !important;
  border: none;
}

.disabled{
  background-color: #9aa1be; 
  border: none !important;
}