@font-face {
    font-family: "poligon bold";
    src: url("../../assets/fonts/poligon/Poligon-Bold.otf");
}


.banner_heading h1 {
	font-weight: 900;
	font-size: 30px;
	margin-bottom: 0px; 
    font-family: "poligon bold";
}

.banner_content{
    display: flex;
    justify-content: start;
    position: relative;
    top: 70%;
    width: 100%;
    background-image: linear-gradient(to bottom top, #0082ff, #0075fa, #0067f4, #0258ed, #1a49e5);
    padding: 1rem;
    border-radius: 15px;
}

.banner_content2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 70%;
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
}
.banner_content a,
.banner_content2 a{
    color: #fff !important;
    text-decoration: none;
}

.banner_content2 .lessCategory {
    min-width: 120px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    padding: 1rem;
    border-radius: 20px;
}

.banner_content .banner_description{
    margin-right: 1rem;
}

.banner_content2,.banner_description img,
.banner_content .banner_description img{
    height: 35px;
}

.banner_content2,.banner_description p,
.banner_content .banner_description p{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-top: 5px; 
    cursor: pointer;
}

@media only screen and (max-width: 767px){
    .banner_content2 .lessCategory {
        min-width: 90px;
        min-height: 90px;
        border-radius: 15px;
    }

    .banner_content .banner_description i,
    .banner_content2,.banner_description i {
        font-size: 25px;
    }

    .banner_content .banner_description p,
    .banner_content2 .banner_description p {   
        font-size: 12px;
    }
}