.navbar_hwe .toggle_content_hwe {
    display: none;
}

.navbar_hwe .toggle_content_hwe i {
    color: #fff;
    font-size: 18px;
}

.navbar_hwe .toggle_content_hwe a {
    position: relative;
    top: -2px;
}

#navbar-brand {
    width: 100px;
}

#navbar-brand a {
    text-decoration: none !important;
}

.logo_brand {
    font-weight: 900;
    text-transform: capitalize;
    font-size: 19px;
    cursor: pointer;
    margin-bottom: 5px;
    color: #284edf;
}

.nav_login {
    color: #284edf;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    padding: 8px 15px !important;
}

.nav_login:hover {
    color: #284edf !important;
}

.nav_search {
    width: 50%;
    margin-top: 0.5rem;
}

.nav_search .search_filter {
    background-color: #fff;
    font-size: 15px;
}

/* @Media Query */
@media only screen and (max-width: 991px) {

    /* For Collapse Navbar */
    .sidebar-collapse .navbar-collapse {
        display: table !important;
    }

    .sidebar-collapse .navbar .navbar-nav {
        margin: 1rem 1rem 0;
    }

    .nav_search {
        width: 90%;
    }

    .sidebar-collapse .navbar-collapse .navbar-nav:not(.navbar-logo) .nav-link {
        margin: 0;
    }

    .navbar_hwe .toggle_content_hwe {
        display: block;
    }

    .navbar.navbar-transparent {
        padding-top: 0px !important;
    }

}