.provider_container {
    background-color: #edefff;
    background-size: cover;
    padding: 1rem;
    width: 100%;
    height: auto;
}

.provider_container .heading h4{
    font-weight: 600;
    margin-bottom: 1rem;
}

.provider_container .heading p{
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 13px;
}

.provider_container .form_content {
    padding: 1rem;
}

.provider_container .innerbox{
    text-align: center !important;
    border: 2px solid #7b7bea;
    background: #edefff;
    padding: 10px 0px;
    border-radius: 10px;
}

.provider_container .innerbox svg{
   font-size: 25px;
}

.provider_container .innerbox p{
   font-weight: 700;
}

.provider_container .provider_submit{
    background-color: #0d0df8;
    font-size: large;
    font-weight: 700;
}