.register_container {
    background-image: linear-gradient(to left bottom, #5a2777, #4b2670, #3c2468, #2d2160, #1f1e57);
    background-size: cover;
    color: #fff;
    padding: 1rem;
    width: 100%;
    height: 100vh;
}

.register_container .card-signup{
    max-width: 400px;
    padding: 1rem 0.5rem;
}

.register_container .card-signup .brand_img {
    width: 30%;
}   

.register_container .card-signup .logo_title{
    color: #000;
    font-weight: 500;
}

.register_container .card-signup .title_register{
    color: #000;
    font-weight: 900;
}

.register_container .card-signup .social_media_account{
    color: #000;
}

.register_container .card-signup .social_section,
.register_container .card-signup .hr_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.register_container .card-signup .social_section .social_btn{
    width: 24%;
}

.register_container .card-signup .social_section .social_btn svg{
   font-size: 15px;
}

.register_container .card-signup .hr_section {
    color: #1a49e5;
    font-weight: 700;
}

.register_container .card-signup .hr_section hr{
    border: 1px solid #1a49e5; 
    width: 42%;
    margin: auto 0px;
}

.register_container .card-signup .fill_info_section{
    display: flex;
    align-items: baseline;
    color: #000;
    font-weight: 500;
    margin: 0;
}

.register_container .card-signup .fill_info_section p{
    color: #ff2f2f;
}

.register_container .card-signup select,
.register_container .card-signup input {
    border: 2px solid #128bff !important;
    border-radius: 5px;
    color: grey !important;
}

::placeholder {
    color: grey !important;
}

.register_container .select_group {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
}

.register_container .select_group .select_country{
   width: 30%;
}

.register_container .select_group .number{
   width: 68%;
}

.register_container .card-signup .register {
    background-color: #1a49e5;
    border: none;    
}      


.register_container .already_have_account {
    color: #000 !important;
    font-weight: 500;
    margin-bottom: 0;
}    

.register_container .already_have_account a {
    color: #128bff !important;
    font-weight: 700;
}        