.main_slot {
  padding-top: 90px;
}

.slot_tabs .inner {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.slot_tabs .inner button {
  margin: 3px;
  color: #357ef6;
  border: 2px solid #357ef6;
  padding: 7px 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff !important;
}


.slot_tabs .active {
  color: white !important;
  border: transparent !important;
  background-image: linear-gradient(to left, #357ef6, #2f6def, #2b63ea, #2859e5, #284edf);
}


.slot_tabs .filter {
  color: white !important;
  background-image: linear-gradient(to left, #357ef6, #2f6def, #2b63ea, #2859e5, #284edf);
}

.slot_tabs button:hover {
  border-color: transparent;
  color: white;
  background-image: linear-gradient(to left, #2f6def, #2b63ea, #2859e5);
}

.slot_gamelist {
  margin-top: 1rem;
}

.slote_card .card-header {
  /*height: 150px;*/
  border: 1px solid;
  position: relative;
}

.slote_card .card-header img {
  width: 100%;
  height: 100%;
}

.slote_card .card-header button {
  position: absolute;
  bottom: 0px;
  right: 0; 
  z-index: 1; 
  border: none;
  padding: 4px 10px;
  display: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #000;
}

.slote_card:hover button {
  display: block;
}

.slote_card .card-body {
  padding: 0.5rem;
  border: 1px solid #2748DC;
  border-top: none;
}

.slote_card .card-body .card-title {
  color: #2748DC;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
}

.slote_card .card-body .card-subtitle {
  color: #3880F7;
  font-size: 14px;
  font-weight: 400;
}

.slote_card img {
  width: 100%;
  height: 100%;
}


/* Filter Box */
.filter_section {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #FFFFFF;
  width: 300px;
  min-height: 100vh;
  height: auto;
  z-index: 1050;
  border: 2px solid #0082FF;
  padding: 10px;
  transition: .3s;
}

.open-list {
  right: 0;
}

.filter_section i#closeFilterList {
  width: 20px;
  height: 20px;
  background: linear-gradient(to left, #357ef6, #2f6def, #2b63ea, #2859e5, #284edf);
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  margin: 10px 10px 10px 90%;
  cursor: pointer;
}

.filter_section h6 {
  font-size: 12px;
  font-weight: 600;
  color: #1A49E5;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
}

.filter_section h5 {
  color: #000;
  font-size: 12px;
  display: block;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.filter_section h5 i {
  font-size: 16px;
  position: relative;
  top: 2px;
  left: 5px;
}

.filterInner::-webkit-scrollbar {
  display: none;
  padding-bottom: 70px;
}

.filterInner {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  padding-bottom: 70px;
}

.slot_gamelist .Not_found {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

#unic_card_hwe {
  padding-left: 5px !important;
  padding-right: 5px !important;
}


@media (min-width: 768px){
  .col-md-3 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media only screen and (max-width: 450px) {

  .slot_tabs {
    flex-direction: column-reverse;
  }

  .slot_tabs .filter {
    margin-top: 0;
    margin-bottom: 0.5rem !important;
  }

  .main_slot {
    padding-top: 60px;
  }

  .slote_card .card-header {
    /*height: 80px;*/
  }

  .slote_card .card-body {
    height: 110px;
  }

  .slot_gamelist {
    margin-top: 0.5rem;
  }

}