.transectionmethod_container {
    background-color: #edefff;
    background-size: cover;
    padding: 1rem;
    width: 100%;
    height: auto;
}

.transectionmethod_container .heading h4{
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.transectionmethod_container .heading p{
    font-weight: 500;
}

.transectionmethod_container .form_content .inner h4{
    color: #000;
}

.transectionmethod_container .form_content .inner .transfer_wallet h4{
    color: #0d0df8 !important;
}

.transectionmethod_container .form_content .inner p{
    color: #000 !important;
    font-weight: 500;
    font-size: 14px;
}

.transectionmethod_container .card{
    border: none;
    background: none;
    cursor: pointer;    
}

.transectionmethod_container .active{
    border: 2px solid #0d0df8;
    background: #fff;
}

.transectionmethod_container .transectionmethod_submit{
    background-color: #0d0df8;
    font-size: large;
    font-weight: 700;
}